.login-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; // 修改为 rpx 单位
    height: 100vh; // 修改为 rpx 单位
    z-index: -1;
    opacity: 0.5; // 调整背景图的透明度
    filter: blur(5rpx); // 为背景图添加模糊效果
  }

  .content {
    z-index: 1;
    text-align: center;
    padding: 20rpx; // 修改为 rpx 单位
    border-radius: 10rpx; // 修改为 rpx 单位
    background: rgba(255, 255, 255, 0.8); // 透明背景
    box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.1); // 添加阴影
    width: 80%; // 保持为百分比

    .title {
      font-size: 48rpx; // 修改为 rpx 单位
      font-weight: bold;
      color: #333;
      margin-bottom: 10rpx; // 修改为 rpx 单位
    }

    .subtitle {
      font-size: 36rpx; // 修改为 rpx 单位
      color: #666;
      margin-bottom: 30rpx; // 修改为 rpx 单位
    }

    .login-button {
      width: 100%;
      // height: 45rpx; 
      // font-size: 18rpx; 
      border-radius: 22rpx; 
      background: linear-gradient(90deg, #1d72b8, #1d82c7); // 渐变背景
      color: #fff;
      box-shadow: 0 4rpx 6rpx rgba(0, 0, 0, 0.2); // 按钮阴影
    }
  }
}

.user-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40rpx 20rpx;  // 调整适合小程序的内边距

  .info-content__btn {
    overflow: hidden;
    margin-bottom: 40rpx;
    //透明
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .info-content__avatar {
      width: 200rpx;
      height: 200rpx;
      object-fit: cover; // 保证头像图片适应容器
    }
  }

  .info-content__input {
    width: 80%;
    height: 80rpx;
    border-radius: 40rpx;
    padding: 0 30rpx;
    font-size: 32rpx;
    border: 1px solid #ccc;
    margin-bottom: 40rpx;
    background-color: #f9f9f9;
    color: #333;
  }

  .submit-button {
    width: 80%;
    height: 90rpx;
    border-radius: 45rpx;
    background-color: #1d72b8;
    font-size: 32rpx;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.1);
  }
}

